<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.no1.wms.authority.StockMapper">
   
   <!-- select -->
   <select id="count" parameterType="map" resultType="com.no1.wms.stock.StockDto">
   		select count(*) from wms.stock left join wms.warehouse on wms.stock.warehouse_id = wms.warehouse.id left join wms.product on wms.stock.product_id = wms.product.id
   		<where>
			<choose>
				<when test="searchn == 0"> wms.stock.activation = 1 and wms.warehouse.name like concat('%',#{search},'%')</when>
				<when test="searchn == 1"> wms.stock.activation = 1 and wms.product.name like concat('%',#{search},'%') </when>
			</choose>
		</where> 
   		order by id desc limit #{start}, #{perPage}
   </select>
   
   <select id="list" parameterType="map" resultType="com.no1.wms.stock.StockDto">
   		select * from wms.stock left join wms.warehouse on wms.stock.warehouse_id = wms.warehouse.id left join wms.product on wms.stock.product_id = wms.product.id
   		<where>
			<choose>
				<when test="searchn == 0"> wms.stock.activation = 1 and wms.warehouse.name like concat('%',#{search},'%')</when>
				<when test="searchn == 1"> wms.stock.activation = 1 and wms.product.name like concat('%',#{search},'%') </when>
			</choose>
		</where> 
   		order by id desc limit #{start}, #{perPage}
   </select>
   
   <select id="stockOne" parameterType="String" resultType="com.no1.wms.stock.StockDto">
   		selct * from stock where id = #{id}
   </select>
   <!-- select -->
   
   
   <!-- update -->
   <update id="updateStock" parameterType="com.no1.wms.stock.StockDto">
   		update stock 
   		set quantity = #{dto.quantity}
		where id = #{dto.id}
   </update>
   <!-- update -->
   
   
   <!-- insert -->
   <insert id="createStock" parameterType="com.no1.wms.stock.StockDto">
   		insert into stock (id, warehouse_id, product_id, quantity, activation)
   		values (#{dto.id}, #{dto.warehouse_id}, #{dto.product_id}, #{dto.quantity}, 1)
   </insert>
   <!-- insert -->

	<!-- delete -->
	<delete id="deleteStock" parameterType="String">
		delete from stock where no = #{id}
	</delete>
	<!-- delete -->
</mapper>