.navi-bg {
    background-color : antiquewhite;
}
.img-user{
    width : 100%;
}
.active{
    font-weight : bolder;
}
.user-name{
    font-size : 1.2rem;
}
.body-bg{
    background-color : darkseagreen;
}
.form-select{
    width:auto;
}
#search_modal_content{
    height : 80vh;
}

.w-10{
    width : 10%!important;
}

.w-15{
    width : 15%!important;
}

.w-20{
    width : 20%!important;
}

.w-25{
    width : 25%!important;
}

.w-30{
    width : 30%!important;
}
.w-35{
    width : 35%!important;
}
.w-40{
    width : 40%!important;
}
.w-45{
    width : 45%!important;
}
.w-50{
    width : 50%!important;
}
.w-55{
    width : 55%!important;
}
.w-60{
    width : 60%!important;
}
.w-65{
    width : 65%!important;
}
.col-centered{
    margin: 0 auto;
    float: none;
}